#box {
  text-align: center;
  margin-top: 200px;
}

button {
  height: 100px;
  width: 100px;
  background-color: black;
  color: white;
  font-size: 25px;
}

.row1 {
  border: 5px solid orange;
  margin: 5px;
}
.row2 {
  border: 5px solid grey;
  margin: 5px;
}
.row3 {
  border: 5px solid darkgreen;
  margin: 5px;
}
